#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    padding-top: 120px;
}

#contact-box textarea, 
#contact-box input{
    width: 100%;
    padding: 1rem;
    border-radius: 9px;
    font-size: 1.1rem;
    background-color: black;
    border-color: blue;
    color: white;
}

#contact-box form{
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 1.3rem; */
    font-weight: bold;
}

#contact-box label{
    font-size: 1.3rem;
    color: white;
}

.btn2{
    height: 44px;
    width: 200px;
    background-color: blue;
    color: white;
    border-color: blue;
    margin: 40px;
    margin-left: 182px;
    border-radius: 7px;
    font-size: 1.3rem;
}